html {
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0px;
  font-family: "Raleway", sans-serif;
  /* border: 3px solid black; */
}

body h2 {
  font-size: 16px;
  font-weight: 900;
}

body h3 {
  font-size: 14px;
  font-weight: 900;
}

#bloc_page {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  /* border: 3px solid red; */
}

/*** HEADER ***/

header {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
  /* border: 3px solid blue; */
}

#box_logo {
  flex-basis: 50%;
  padding-left: 10px;
  /* border: 3px solid yellow; */
}

#menu {
  display: flex;
  justify-content: flex-end;
  flex-basis: 50%;
  /* border: 3px solid yellow; */
}

#menu ul {
  display: flex;
  /* border: 3px solid red; */
}

#menu li {
  list-style: none;
  padding-left: 35px;
  /* border: 3px solid pink; */
}

#menu a {
  font-size: 12px;
  text-decoration: none;
  color: black;
}

#menu a:hover {
  color: #0065fc;
  padding: 38px 0 38px 0;
  border-top: 2px solid #0065fc;
}

#sinscrire {
  margin-right: 10px;
  padding-left: 35px;
  font-weight: 900;
  font-size: 12px;
  color: #0065fc;
  cursor: pointer;
  /* border: 3px solid yellow; */
}

/*** SECTION RECHERCHE ET FILTRE ***/
/*** RECHERCHE ***/

#recherche {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: 10px;
  /* border: 3px solid green; */
}

#introduction {
  display: flex;
  flex-direction: column;
  /* border: 3px solid yellow; */
}

#introduction h2 {
  margin-top: 0px;
  margin-bottom: 5px;
  /* border: 3px solid purple; */
}

#introduction p {
  margin-top: 0px;
  font-size: 12px;
  /* border: 3px solid purple; */
}

form {
  display: flex;
  height: 30px;
  margin-top: 10px;
  margin-bottom: 20px;
  /* border: 3px solid yellow; */
}

form span {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  font-size: 12px;
  background-color: #f2f2f2;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  /* border: 3px solid purple; */
}

#zone_recherche {
  width: auto;
  font-weight: 800;
  font-size: 12px;
  font-family: "Raleway", sans-serif;
  padding-left: 10px;
  outline: none;
  border-top: solid #f2f2f2 1px;
  border-bottom: solid #f2f2f2 1px;
  border-left: none;
  border-right: none;
  /* border: 3px solid purple; */
}

#bouton_recherche {
  width: 80px;
  background-color: #0065fc;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  font-size: 12px;
  color: white;
  outline: none;
  border: none;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  /* border: 3px solid purple; */
}

#bouton_recherche:hover {
  background-color: #1938e7;
  cursor: pointer;
}

#search_icon {
  display: none;
}

/*** FILTRES ***/

#filtres {
  display: flex;
  align-items: center;
  /* border: 3px solid yellow; */
}

#titre_filtre {
  font-weight: 800;
  font-size: 12px;
  /* border: 3px solid purple; */
}

#theme {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  /* border: 3px solid purple; */
}

.exemple_theme {
  display: flex;
  align-items: center;
  margin-left: 15px;
  height: 35px;
  border-radius: 30px;
  border-top: 2px solid #f2f2f2;
  border-bottom: 2px solid #f2f2f2;
  border-left: none;
  border-right: 2px solid #f2f2f2;
  /* border: 3px solid pink; */
}

.exemple_theme:hover {
  background-color: #deebff;
  cursor: pointer;
  transition: all 0.5s ease-out;
}

.icone_filtre {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  font-size: 12px;
  color: #0065fc;
  border-radius: 50px;
  background-color: #deebff;
  /* border: 3px solid orange; */
}

.nom_filtre {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  height: 34px;
  font-weight: 800;
  font-size: 12px;
  padding-left: 10px;
  padding-right: 10px;
  /* border: 3px solid orange; */
}

/*** INFORMATION ***/

#information {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 10px;
  /* border: 3px solid yellow; */
}

#information span {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 5px;
  height: 5px;
  padding: 5px;
  font-size: 8px;
  color: #0065fc;
  border-radius: 50px;
  border: 2px solid #f2f2f2;
}

#information p {
  font-size: 12px;
  padding-left: 10px;
}

/*** SECTION HEBERGEMENTS ***/

#container_hebergements {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  /* border: 3px solid green; */
}

#container_hebergements a {
  text-decoration: none;
  color: black;
}

#container_hebergements a:hover {
  transform: scale(1.05);
  transition: 0.5s;
}

.etoile_bleue {
  color: #0065fc;
}

.etoile_grise {
  color: #dddddd;
}

/*** HEBERGEMENTS PRINCIPAUX ***/

#hebergements_principaux {
  display: flex;
  flex-direction: column;
  padding-left: 30px;
  padding-right: 30px;
  background-color: #f2f2f2;
  border-radius: 15px;
  /* border: 3px solid yellow; */
}

#hebergements_principaux h2 {
  margin-top: 20px;
  /* border: 3px solid purple; */
}

#liste_hebergements_principaux {
  display: grid;
  gap: 30px;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto;
  /* border: 3px solid purple; */
}

.carte_identite {
  display: flex;
  flex-direction: column;
  height: 170px;
  width: 230px;
  background-color: white;
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.2);
  border: 4px solid white;
  border-radius: 15px;
  /* border: 3px solid blue; */
}

.carte_identite img {
  width: 100%;
  height: 100px;
  border-radius: 10px 10px 0 0;
  object-fit: cover;
  /* border: 3px solid yellow; */
}

.carte_identite_info {
  display: flex;
  flex-direction: column;
  padding-left: 10px;
  /* border: 3px solid yellow; */
}

.carte_identite_info h3 {
  margin-top: 5px;
  margin-bottom: 5px;
  /* border: 3px solid orange; */
}

.carte_identite_info p {
  font-size: 12px;
  margin-top: 0px;
  margin-bottom: 5px;
  /* border: 3px solid orange; */
}

.note_etoile_principaux {
  font-size: 10px;
  margin-top: 10px;
  /* border: 3px solid orange; */
}

#afficher_plus {
  padding-top: 20px;
  font-size: 12px;
  font-weight: 900;
  /* border: 3px solid purple; */
}

/*** HERGEMENTS POPULAIRES ***/

#hebergements_populaires {
  display: flex;
  flex-direction: column;
  padding-left: 30px;
  padding-right: 30px;
  background-color: #f2f2f2;
  border-radius: 14px;
  /* border: 3px solid red; */
}

#titre_hebergements_populaires {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 0px;
  padding-top: 7px;
  /* border: 3px solid purple; */
}

#titre_hebergements_populaires span {
  font-size: 20px;
  /* border: 3px solid pink; */
}

#liste_hebergements_populaires {
  display: grid;
  gap: 30px;
  margin-bottom: 30px;
  grid-template-columns: auto;
  grid-template-rows: auto auto auto;
  /* border: 3px solid purple; */
}

.carte_identite_hebergements_populaires {
  display: flex;
  height: 120px;
  width: 260px;
  background-color: white;
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.2);
  border: 4px solid white;
  border-radius: 15px;
  /* border: 3px solid blue; */
}

.carte_identite_hebergements_populaires img {
  width: 120px;
  border-radius: 15px 0 0 15px;
  object-fit: cover;
  /* border: 3px solid orange; */
}

.note_etoile_populaires,
.note_etoile_populaires_unique {
  margin-top: 40px;
  font-size: 10px;
  /* border: 3px solid orange; */
}

/*** SECTION ACTIVITES ***/

#container_activites {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 20px;
  /* border: 3px solid green; */
}

#galerie_photo_activite {
  display: flex;
  justify-content: space-between;
  height: 300px;
  width: 100%;
  /* border: 3px solid purple; */
}

.carte_simple {
  display: flex;
  /* border: 3px solid red; */
}

.carte_double {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* border: 3px solid blue; */
}

figure {
  background-color: white;
  border-radius: 15px;
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.2);
}

figcaption {
  font-size: 12px;
  font-weight: bold;
  margin-left: 10px;
  margin-bottom: 10px;
}

figure:hover {
  transform: scale(1.05);
  transition: 0.5s;
  cursor: pointer;
}

.carte_identite_activite_a {
  width: 210px;
  margin: 0;
  /* border: 3px solid gold; */
}

.carte_identite_activite_b {
  width: 230px;
  height: 50%;
  margin: 0;
  /* border: 3px solid grey; */
}

.carte_identite_activite_c {
  width: 230px;
  height: 40%;
  margin: 0;
  /* border: 3px solid black; */
}

.imageactivites_a {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  width: 100%;
  height: 88%;
  padding-bottom: 10px;
  object-fit: cover;
}

.imageactivites_b {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  width: 100%;
  height: 75%;
  padding-bottom: 10px;
  object-fit: cover;
}

.imageactivites_c {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  width: 100%;
  height: 70%;
  padding-bottom: 10px;
  object-fit: cover;
}

/*** FOOTER ***/

#footer {
  display: flex;
  justify-content: space-between;
  height: 150px;
  margin-top: 50px;
  padding-top: 20px;
  padding-right: 250px;
  padding-left: 10px;
  background-color: #f2f2f2;
  /* border: 3px solid green; */
}

.footer_content {
  display: flex;
  flex-direction: column;
  margin-left: 50px;
  /* border: 3px solid red; */
}

.footer_content h3 {
  margin-bottom: 5px;
}

.footer_content ul {
  display: flex;
  flex-direction: column;
  padding-left: 0;
  /* border: 3px solid yellow; */
}

.footer_content li {
  display: flex;
  list-style: none;
  padding-bottom: 5px;
  font-size: 12px;
  /* border: 3px solid orangered; */
}

/*****************************/
/*** HEADER RESPONSIVE ***/
/*****************************/
@media screen and (max-width: 500px) {
  header {
    flex-wrap: wrap;
  }

  #menu {
    order: 1;
    flex-basis: 100%;
    padding-top: 20px;
  }

  #menu ul {
    flex-basis: 100%;
  }

  #menu a {
    padding-right: 30px;
    font-size: 16px;
  }

  #menu a:hover {
    padding-right: 30px;
    border-top: none;
  }

  #border_bottom_hebergements,
  #border_bottom_activites {
    flex-basis: 50%;
    text-align: center;
    padding-bottom: 20px;
    border-bottom: solid 2px #f2f2f2;
  }

  #border_bottom_hebergements {
    margin-left: -40px;
  }

  #border_bottom_hebergements:hover,
  #border_bottom_activites:hover {
    color: #0065fc;
    border-color: #0065fc ;
  }

  #sinscrire {
    font-size: 15px;
  }
}

/*****************************/
/*** RECHERCHE RESPONSIVE ***/
/*****************************/
@media screen and (max-width: 500px) {
  #introduction {
    padding-right: 40px;
    padding-left: 20px;
  }

  #introduction h2 {
    font-size: 20px;
  }

  #introduction p {
    font-size: 14px;
  }

  form {
    height: 40px;
    margin-left: 20px;
  }

  #zone_recherche {
    width: 220px;
  }
  
  #search_icon {
    display: initial;
    width: 40px;
    background-color: #0065fc;
    font-size: 13px;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
  }

  form span {
    width: 45px;
  }

  #bouton_recherche {
    display: none;
  }
}

/*****************************/
/*** FILTRES RESPONSIVE ***/
/*****************************/
@media screen and (max-width: 500px) {
  #filtres {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
  }

  #titre_filtre {
    padding-left: 15px;
  }

  #theme {
    flex-wrap: wrap;
    padding-right: 60px;
  }

  .exemple_theme {
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 501px) and (max-width: 1024px) {
  #filtres {
    margin-left: 10px;
  }
}

/*****************************/
/*** INFORMATION RESPONSIVE ***/
/*****************************/
@media screen and (max-width: 500px) {
  #information {
    padding-left: 15px;
    padding-right: 30px;
    /* border: 3px solid purple; */
  }

  #information p {
    font-size: 14px;
  }
}

@media screen and (min-width: 501px) and (max-width: 1024px) {
  #information {
    margin-left: 10px;
  }
}

/*****************************/
/*** HEBERGEMENTS RESPONSIVE ***/
/*****************************/

/* POPULAIRES */

@media screen and (max-width: 1209px) {
  #container_hebergements {
    flex-wrap: wrap;
    flex-direction: column-reverse;
  }

  #liste_hebergements_populaires {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  #hebergements_populaires {
    border-radius: 0px;
  } 

  .carte_identite_hebergements_populaires {
    flex-direction: column;
    height: 180px;
    width: 300px;
  }

  .carte_identite_hebergements_populaires img {
    width: 300px;
    height: 100px;
    border-radius: 15px 15px 0 0;
  }

  .note_etoile_populaires,
  .note_etoile_populaires_unique {
    margin-top: 10px;
  }

  .carte_identite_info h3 {
    font-size: 12px;
  }

  #hebergements_principaux {
    background-color: white;
  }
}

@media screen and (max-width: 1088px) {
  .carte_identite_hebergements_populaires {
    width: 200px;
  }

  .carte_identite_hebergements_populaires img {
    width: 200px;
  }

  .note_etoile_populaires {
    padding-top: 15px;
  }
}

@media screen and (max-width: 839px) {
  #liste_hebergements_populaires {
    flex-direction: column;
    align-items: center;
  }

   .carte_identite_hebergements_populaires {
    flex-direction: row;
    height: 150px;
    width: 700px;
  }

  .carte_identite_hebergements_populaires img {
    width: 50%;
    height: 150px;
    border-radius: 10px 0 0 10px;
  }

  .note_etoile_populaires,
  .note_etoile_populaires_unique {
    margin-top: 70px;
  }

  .note_etoile_populaires_unique {
    padding-top: 15px;
  }
}

@media screen and (max-width: 809px) {
  .carte_identite_hebergements_populaires {
    width: 550px;
  }
}

@media screen and (max-width: 680px) {
  .carte_identite_hebergements_populaires {
    width: 500px;
  }

  .note_etoile_populaires_unique {
    padding-top: 15px;
  }
}

@media screen and (max-width: 609px) {
  .carte_identite_hebergements_populaires {
    width: 400px;
  }

  .note_etoile_populaires_unique {
    padding-top: 0px;
  }
}

@media screen and (max-width: 450px) {
  .carte_identite_hebergements_populaires {
    width: 300px;
  }

  .carte_identite_hebergements_populaires img {
    width: 150px;
    height: 150px;
  }
}

/* PRINCIPAUX */

@media screen and (max-width: 1209px) {
  #liste_hebergements_principaux {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .carte_identite {
    height: 180px;
    width: 300px;
  }
}

@media screen and (max-width: 1088px) {
  .carte_identite {
    height: 190px;
    width: 250px;
  }

  .note_etoile_principaux {
    padding-top: 15px;
  }
}

@media screen and (max-width: 924px) {
  .carte_identite {
    height: 190px;
    width: 300px;
  }
}

@media screen and (min-width: 320px) and (max-width: 516px) {
  .carte_identite {
    width: 300px;
  }

  #hebergements_principaux {
    background-color: white;
  }

  #liste_hebergements_principaux {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}

/*****************************/
/*** ACTIVITE RESPONSIVE ***/
/*****************************/
@media screen and (max-width: 1280px) {
  #container_activites {
    padding-left: 20px;
    padding-right: 20px;
  }
 }

 @media screen and (max-width: 990px) {
  #galerie_photo_activite {
    flex-direction: column;
    height: auto;
    margin:auto;
    align-items: center;
  }

  .carte_simple {
    height: 250px;
    width: 500px;
    margin-bottom: 50px;
    margin-top: 50px;
  }

  .carte_double {
    height: 550px;
    width: 500px;
  }

  .carte_identite_activite_a {
    height: 250px;
    width: 500px;
  }

  .carte_identite_activite_b {
    height: 250px;
    width: 500px;
  }
  .carte_identite_activite_c {
    height: 250px;
    width: 500px;
  }

  .imageactivites_a,
  .imageactivites_c {
    height: 75%;
  }
}

@media screen and (max-width: 570px) {
  .carte_simple {
    height: 190px;
    width: 300px;
    margin-bottom: 25px;
    margin-top: 25px;
  }

  .carte_double {
    height: 405px;
    width: 300px;
  }

  .carte_identite_activite_a {
    height: 190px;
    width: 300px;
  }

  .carte_identite_activite_b {
    height: 190px;
    width: 300px;
  }
  .carte_identite_activite_c {
    height: 190px;
    width: 300px;
  }
}

/*****************************/
/*** FOOTER RESPONSIVE ***/
/*****************************/
@media screen and (max-width: 767px) {
  #footer {
    flex-direction: column;
    height: auto;
    padding-left: 30px;
    padding-top: 0px;
    padding-bottom: 10px;
  }

  .footer_content {
    margin-left: 0px;
    width: max-content;
  }

  .footer_content h3 {
    font-size: 14px;
    margin-bottom: 15px;
  }

  .footer_content ul {
    margin: auto;
    width: max-content;
  }

  .footer_content li {
    font-size: 13px;
    padding-bottom: 10px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .footer_content {
    margin: auto;
  }
}
